@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  font: normal 28px Helvetica, Arial, sans-serif;
}

article {
  max-width: 680px;
  min-width: 485px;
  margin: 22px auto;
  padding: 10px;
  border: 3px solid #000;
}

/* header styles */
header {
  border-bottom: 10px solid #000;
  border-width: 85%;
}

header h1 {
  width: 100%;
  letter-spacing: 0.05em;
  font: 68px Impact;
}

header p:nth-of-type(2n) {
  margin-bottom: 8px;
  border-bottom: 30px solid #000;
}

header h2:nth-of-type(0n+1) {
  border-bottom: 1px solid #000;
}

header h2:last-of-type {
  display: inline-block;
}

header h2 + span + p {
  display: inline-block;
  float: right;
}

/* base table styles */
table {
  border-collapse: collapse;
  clear: right;
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
}

tfoot tr {
  border-bottom-style: none;
}

tfoot td:last-of-type {
  text-align: left;
  text-indent: -.7rem;
  font-weight: normal;
  padding: .5rem 0 .5rem .7rem;
}

th {
  text-align: left;
}

td {
  font-weight: bold;
}

/* 1st table */
header + table tbody td,
header + table tbody th {
  border-top: 1px solid #000;
}

header + table thead th,
header + table td {
  font-weight: 600;
  text-align: right;
}

header + table tr:nth-last-child(-n+4) td,
header + table tbody tr:nth-last-child(-n+4) th {
  font-weight: normal;
}

header + table tr:nth-child(0n+9) {
  border-bottom: 30px solid #000;
}

header + table tbody tr:last-child {
  border-bottom: 1px solid #000;
}

td.indent {
  width: 40px;
  border-top: none;
}

td.indent + th {
  font-weight: normal;
}

/* second table */

article table:nth-of-type(2n) {
  font-size: 20px;
}

table + table:nth-of-type(2n) th,
table + table:nth-of-type(2n) td {
  font-weight: normal;
}

article table:nth-of-type(2n) thead th {
  border-bottom: 1px solid #000;
}

table + table td.indent {
  width: auto;
  text-indent: 1.2rem;
