@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  font: normal 16px Helvetica, Arial, sans-serif;
}

article {
  max-width: 680px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid #000;
}


/* header styles */
header {
  border-bottom: 10px solid #000;
  border-width: 85%;
}

header h1 {
  width: 100%;
  letter-spacing: 0.05em;
  font: 64px Impact;
}

header p,
header h2 {
  font-size: 20px;
}

header p:nth-of-type(2n) {
  margin-bottom: 8px;
  border-bottom: 30px solid #000;
}

header h2:nth-of-type(1n) {
  border-bottom: 1px solid #000;
}

header h2:last-of-type {
  display: inline-block;
}

header h2:last-of-type + span {
  font-size: 20px;
}

header h2 + span + p {
  display: inline-block;
  float: right;
}

table {
  border-collapse: collapse;
  clear: right;
  width: 100%;
  border-spacing: 0;
}

tfoot tr {
  border-bottom-style: none;
}

th {
  text-align: left;
}

td {
  font-weight: bold;
}

/* 1st table */
header + table {
  font-size: 22px;
  height: 615px;
}

header + table tr {
  border-bottom: 1px solid #000;
}

header + table thead th {
  font-weight: bold;
  text-align: right;
}

header + table tr:nth-last-child(-n+4) td {
  font-weight: normal;
}

header + table tr:nth-child(0n+9) {
  border-bottom: 30px solid #000;
}

th.indent,
td.indent {
  text-indent: 40px;
  font-weight: normal;
}

/* second table */

article table:nth-of-type(2n) th,
article table:nth-of-type(2n) td {
  font-weight: normal;
}

article table:nth-of-type(2n) thead th {
  border-bottom: 1px solid #000;
}

